<h3> About this notebook </h3>

The purpose of this Notebook is to use the conda environment that we created in order to make an interactive plot. It is inspired by Dr. Thomas Bury's CAMBAM-CRM workshop (reference at the end of the notebook).

Quick parenthesis: Big Gabe hates Jupyter Notebooks; scroll down to the bottom of this one to find out why.

<h3> Useful Jupyter notebook shortcuts (from Dr. Bury's workshop) </h3>
<img src='images/jupyter.png' width='40'>

Outside of cells:
- A : create new cell above
- B : create new cell below
- DD : delete cell
- Y : make cell of <i>code</i> type
- M : make cell of <i>text</i> type
- enter : enter cell

Within cell:
- **Cmd + /** : comment/uncomment a line of code
- **Shift + enter** : run cell
- **esc** : escape from cell

<h3> Import required packages </h3>

In [1]:
import numpy as np # For numerical computation
import pandas as pd # For handling dataframes
import plotly.express as px # For rapid plotting
import plotly.graph_objects as go # For finer plot details

<h3> Import & clean the data </h3>

In [2]:
hcp_df = pd.read_csv("HCP_data.csv")

In [3]:
hcp_df.head()

,Subject,Gender,Age,TBV,Left Striatum Volume,Right Striatum Volume,Left Thalamus Volume,Right Thalamus Volume,Left Globus Pallidus Volume,Right Globus Pallidus Volume,Left Striatum Total SA,Right Striatum Total SA,Left Thalamus Total SA,Right Thalamus Total SA,Left Globus Pallidus Total SA,Right Globus Pallidus Total SA,Income
0,0,Male,27,1694580,11848.20,12030.00,7827.26,7750.77,1746.90,1597.69,15156.32547,16506.40087,7902.211643,8394.220729,3603.322526,3751.440646,4.0
1,1,Female,27,1319380,9470.57,9749.09,5743.19,5773.38,1489.99,1291.05,12555.09774,13845.51983,6368.274739,6969.617635,3149.392096,3156.322277,7.0
2,2,Male,33,1563630,10274.90,10693.40,6865.83,6842.16,1617.93,1531.84,14165.48884,15590.63180,7235.193241,7763.609633,3476.901847,3725.802635,7.0
3,3,Male,27,1585390,12464.30,12575.80,7452.36,7598.48,1841.22,1639.88,15493.70123,16940.05756,7594.851693,8316.436428,3862.828117,3893.266274,6.0
4,4,Female,35,1261040,9774.47,9967.58,5856.38,5877.30,1679.33,1571.28,13309.15216,14458.50988,6514.710165,7003.367310,3586.431707,3773.869259,3.0

In [4]:
hcp_df = hcp_df.fillna(hcp_df.mean())

In [5]:
hcp_df.columns

Index(['Subject', 'Gender', 'Age', 'TBV', 'Left Striatum Volume',
       'Right Striatum Volume', 'Left Thalamus Volume',
       'Right Thalamus Volume', 'Left Globus Pallidus Volume',
       'Right Globus Pallidus Volume', 'Left Striatum Total SA',
       'Right Striatum Total SA', 'Left Thalamus Total SA',
       'Right Thalamus Total SA', 'Left Globus Pallidus Total SA',
       'Right Globus Pallidus Total SA', 'Income'],
      dtype='object')

<h3> Create Plot </h3>

NB: for the plot, you can chose any variable that is part of hcp_df.columns for: x, y, color, size, animation frame and hover name!

In [6]:
x_axis="TBV"
y_axis="Left Striatum Volume"
x_min=min(hcp_df[x_axis])
x_max=max(hcp_df[x_axis])
y_min=min(hcp_df[y_axis])
y_max=max(hcp_df[y_axis])

In [7]:
fig = px.scatter(hcp_df, 
                 x=x_axis, 
                 y=y_axis, 
                 range_x=[x_min,x_max],
                 range_y=[y_min,y_max],
                 color='Gender',
                 size="Income",            
                 animation_frame="Age",
                 hover_name="Subject",
                 title="Left striatal volume as a function of TBV"
)
fig.write_html('left_str_by_TBV.html')

<h3> References </h3>

To learn more about interactive plots (and if you have issues installing the correct packages), you can go through Dr. Thomas Bury's (thomas.bury@mcgill.ca) CAMBAM-CRM workshop (I have his permission to share it with the lab):
https://drive.google.com/drive/folders/1b5SwQo_AK6e3JBiYsAl8NJjREIuf35Un

Jupyter Notebook to work through if you would like to learn more about Pandas:
https://www.learndatasci.com/tutorials/python-pandas-tutorial-complete-introduction-for-beginners/

Article on how to put your data into ’tidy’ form in Python is here
https://www.jeannicholashould.com/tidy-data-in-python.html

**Finally**, here is a video on why Joel Grus (and Gabriel Devenyi) do NOT like Jupyter Notebooks: https://www.youtube.com/watch?v=7jiPeIFXb6U